@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.button {
    padding: 20px;
}

#formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 40rem;
  margin-right: 40rem;
  margin-top: 80px;
  padding: 80px;
  background-color: lightgrey;
  border-radius: 10px;
}

.form-floating {
  margin: 20px;
}
